@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* dat bien */
:root{
    --background-light: white;
    --background-dark: black;
    --color-dark: gray;
    --color-light: black
}

body{
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
}