.container{
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
}
.item{
    font-size: larger;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
#block{
    display: block;
    /* chinh dc dong ngoac tren duoi */
}
#inline{
    display: inline;
    background-color: aqua;
    /* chi thay doi trai phai tren duoi */
    margin: 50px;
    height: 100px;
    width: 100px;
}

#inline-block > .item{
    /* nam trong 1 hang co the chi trai phai tren duoi */
    display: inline-block;
    height: 100px;
    width: 100px;
}

#none{
    display: none;
}
#flex{ 
    /* thu gon phan tu */
    display: flex;
    /* khong dc xuong hang */
    flex-flow: row nowrap;
    /* dao nguoc */
    flex-flow:column-reverse ;
    /* dc phep xuong hang */
    flex-flow: column wrap;
    /* canh theo chieu ngang */
    justify-content: space-around;
    /* canh theo chieu doc */
    align-items: center;
}
#grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
}